
<div class="wholePage">
    <div class="wholePage">
        <div class="navbar">
          <div>
              <a href='website.html'>BookMyRooms</a>
          </div>
          <nav>
              <ul id='MenuItems'>
                <li><a (click)="navigate('/homepage')">Home</a></li>
                <li><a (click)="navigate('/aboutus')">About Us</a></li>
                <li><a (click)="navigate('/register')">Book Now</a></li>
                <li><a (click)="navigate('/roomlist')">Room List</a></li>
                <li><a (click)="navigate('/signup')">Sign Up</a></li>
              </ul>
          </nav>
      </div>


        <section class="heading">

            <div class="welcome-msg">
                <h1> About BookMyRooms </h1>
                <p>
                    BookMyRooms, is an Indian hospitality chain of leased and franchised hotels, homes and living spaces. 
                    Founded in 2022 by Prashanth, BookMyRooms initially consisted mainly of budget hotels. The startup expanded 
                    globally with thousands of hotels, vacation homes and millions of rooms in India, Malaysia, UAE, Nepal, China, 
                    Brazil, Mexico, UK, Philippines, Japan, Saudi Arabia, Sri Lanka, Indonesia, Vietnam, the United States and more.
                    
Nestled beside an 18-hole golf course minutes from the slopes, Hotel Park City is consistently acclaimed among the best hotels 
in Park City, Utah. Among our most recent accolades, our AAA Four Diamond resort has proudly been rated a “Top Ski Hotel” by Conde
 Nast Traveler, and our Ruth’s Chris Steak House is the #1 rated Ruth’s Chris Steak House in the western U.S. We’ve also been placed 
 in the Certificate of Excellence Hall of Fame by TripAdvisor and earned the Certificate of Excellence (TripAdvisor), a Platinum Choice 
 Award (Smart Meetings Magazine), recognition as a “Most Admired Company” (Utah Business Magazine) and more.
                </p>
                <a (click)="navigate('/register')" class="btn btn-subscribe"> Book Room </a>
                <a (click)="navigate('/homepage')" class="btn btn-comment"> Return to Home</a>
            </div>
        </section>
    </div>